<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #0e3f33;
        color: white;
        text-align: center;
        padding: "1 rem";
      }
    </style>
  </head>
  <body style="background-color: black">
    <div
      class="container-fluid"
      style="font-family: 'VT323', monospace; color: white"
    >
      <h1 class="text-center">ARTficial Model API</h1>
      <h5 class="align-left">
        <span style="color: black; background-color: white; padding: 0.25rem"
          >POST request on /nst to access the model</span
        >
      </h5>
      <p>The post method expects a json object in the following format:</p>
      <pre style="color: white">
      {
        "styleImageURL":"https://styleImageURL.com",
        "contentImageURL":"https://contentImageURL.com"
      }
      </pre>
      <p>The model will then return a json object with the following format:</p>
      <pre style="color: white">
      {
        "outputImage": "http://outputstylizedurl.com"
      }
        </pre
      >
      Note: The model can accept images of any size or resolution but will take
      more time processing depending on the quality of the images.
      <div class="footer">
        Made with ❤️ at 🇵🇰. Support the open source project at the official
        <a
          href="https://github.com/mishaosipovprodigy2/IB-AR_Neural_Style_Transfers"
          target="_none"
          >ARTficial</a
        >
        repository.
      </div>
    </div>
  </body>
</html>
